---
const platform = "github";
const work = "LinkedIn";
---

<footer>
  <p>Learn more about my projects on <a href={`https://github.com/Damien1989`}>{platform}</a> and <a href={`https://www.linkedin.com/in/damien-diaz-2453781b2/`}>{work}</a></p>
</footer>